<div class="row">
<div class="col-sm-5">
	<h1>Sing up</h1>

	<%= form_for @user, url: registrations_path, html: {class: 'form'} do |f| %>		
<!-- 
		<% if @user.errors.present? %>
		<%= @user.errors.messages %>
		<%end%>
 -->		
 		<div class="form-group col-sm-6 <%= @user.errors[:first_name].present? ? 'has-error' : '' %>">
			<%= f.label :first_name, 'First Name *', class: 'control-label' %>
			<%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
			<% if @user.errors[:first_name].present? %>				
				<span id="helpBlock2" class="help-block col-sm-12"><%= @user.errors[:first_name].join(", ")%></span>
			<%end%>
		</div>

		<div class="form-group col-sm-6 <%= @user.errors[:last_name].present? ? 'has-error' : '' %>">
			<%= f.label :last_name, 'Last Name *', class: 'control-label' %>
			<%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
			<% if @user.errors[:last_name].present? %>				
				<span id="helpBlock2" class="help-block col-sm-12"><%= @user.errors[:last_name].join(", ")%></span>
			<%end%>
		</div>

		<div class="form-group col-sm-12 <%= @user.errors[:display_name].present? ? 'has-error' : '' %>">
			<%= f.label :display_name, class: 'control-label' %>
			<%= f.text_field :display_name, class: "form-control", placeholder: "Display Name" %>
			<% if @user.errors[:display_name].present? %>				
				<span id="helpBlock2" class="help-block col-sm-12"><%= @user.errors[:display_name].join(", ")%></span>
			<%end%>
		</div>
		
		<div class="form-group col-sm-12 <%= @user.errors[:email].present? ? 'has-error' : '' %>">
			<%= f.label :email,'Email *', class: 'control-label' %>
			<%= f.text_field :email, class: "form-control", placeholder: "Email" %>
			<% if @user.errors[:email].present? %>				
				<span id="helpBlock2" class="help-block col-sm-12"><%= @user.errors[:email].join(", ")%></span>
			<%end%>
		</div>


		<div class="form-group col-sm-12  <%= @user.errors[:password].present? || @user.errors[:password_confirmation].present? ? 'has-error' : '' %>">
			<%= f.label :password, class: 'control-label' %>
			<%= f.password_field :password, class: "form-control", placeholder: "Password" %>			
			<% if @user.errors[:password].present? %>				
				<span id="helpBlock2" class="help-block col-sm-12"><%= @user.errors[:password].join(", ")%></span>
			<%end%>
		</div>

		<div class="form-group col-sm-12  <%= @user.errors[:password].present? || @user.errors[:password_confirmation].present? ? 'has-error' : '' %>">
			<%= f.label :password_confirmation, class: 'control-label' %>
			<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
			<% if @user.errors[:password_confirmation].present? %>				
				<span id="helpBlock2" class="help-block col-sm-12"><%= @user.errors[:password_confirmation].join(", ")%></span>
			<%end%>
		</div>	
			
		<div class="form-group col-sm-12">			
			<%= f.submit 'Register', class: "btn btn-success col-xs-12" %>
		</div>

	<% end %>
</div>
</div><!-- row end -->